<!DOCTYPE html>
{% extends "layout.html" %}
<html lang="en">
<body>
{% block content %}

    <!-- Vertically Centered Slogan -->
    <section class="py-5">
        <div class="col-12 text-center">
            <br><br>
            <h1 class="fw-light">lista twoich książek</h1>
            <p class="lead">zobacz wszystkie dodane pozycje</p>
        </div>
    </section>

    <!-- Table with books -->
    <div class="container">
        <center><h4>/ Tu będzie tabela /</h4></center>
        {% for book in books %}
        {{ book.title }}
        {% endfor %}
    </div>

{% endblock %}
</body>
</html>