<!DOCTYPE html>
{% extends "layout.html" %}
<html lang="en">
<body>
{% block content %}

    <!-- Vertically Centered Text -->
    <section class="py-5">
        <div class="col-12 text-center">
            <br><br>
            <h1 class="fw-light">dodaj nową książkę</h1>
            <p class="lead">wybierz opcję poniżej</p>
        </div>
    </section>

    <!-- Form Add Books Manually -->
    <div class="container">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">dodaj ręcznie</h5>
                        <p class="card-text fw-lighter">dodaj dowolną książkę uzupełniając formularz</p>
                        <a href="/add-manually" class="btn btn-dark">dodaj</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">zaimportuj z Google Books</h5>
                        <p class="card-text fw-lighter">dodaj książkę dostępną w Google Books</p>
                        <a href="/add-api" class="btn btn-dark">zaimportuj</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>

{% endblock %}
</body>
</html>