<!DOCTYPE html>
{% extends "layout.html" %}
<html lang="en">
<body>
{% block content %}

    <!-- Vertically Centered Text -->
    <section class="py-5">
        <div class="col-12 text-center">
            <br><br>
            <h1 class="fw-light">zaimportuj książkę z Google Books</h1>
            <p class="lead">skorzystaj z formularza poniżej</p>
        </div>
    </section>

    <!-- Form Add Books from API -->
    <div class="container">
        <form class="row g-3" method="post" action="/temp">
            <div class="col-md-5">
                <label class="form-label">Tytuł</label>
                <input type="text" class="form-control" name="intitle" placeholder="Tytuł książki">
            </div>
            <div class="col-md-4">
                <label class="form-label">Autor</label>
                <input type="text" class="form-control" name="inauthor" placeholder="Autor książki">
            </div>
            <div class="col-md-3">
                <label class="form-label">ISBN</label>
                <input type="text" class="form-control" name="isbn" placeholder="Numer ISBN">
            </div>
            <div class="d-grid gap-2 col-4 mx-auto">
                <br>
                <button type="submit" class="btn btn-dark">szukaj</button>
            </div>
        </form>
        <br><br><br>
    </div>

    <!-- Table with books -->
        <div class="container">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">lp.</th>
                        <th scope="col">tytuł</th>
                        <th scope="col">autor</th>
                        <th scope="col">rok</th>
                        <th scope="col">ISBN</th>
                        <th scope="col">strony</th>
                        <th scope="col">okładka</th>
                        <th scope="col">język</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for book in books %}
                    <tr>
                        <th scope="row">{{ book.id }}</th>
                        <td>{{ book.title }}</td>
                        <td>{{ book.author }}</td>
                        <td>{{ book.publishedDate.strftime('%Y') }}</td>
                        <td>{{ book.isbn }}</td>
                        <td>{{ book.pageCount }}</td>
                        <td>
                            {% if book.imageLink %}
                                <a href="{{ book.imageLink }}" class="text-muted">zobacz</a>
                            {% else %}
                            &nbsp;
                            {% endif %}
                        </td>
                        <td>{{ book.language }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

{% endblock %}
</body>
</html>