<!DOCTYPE html>
{% extends "layout.html" %}
<html lang="en">
<body>
{% block content %}

    <!-- Vertically Centered Text -->
    <section class="py-5">
        <div class="col-12 text-center">
            <br><br>
            <h1 class="fw-light">dodaj książkę ręcznie</h1>
            <p class="lead">uzupełnij poniższy formularz</p>
        </div>
    </section>

    <!-- Form Add Books Manually -->
    <div class="container">
        <form class="row g-3" method="post" action="/success">
            <div class="col-md-6">
                <label for="validationDefault01" class="form-label">Tytuł</label>
                <input type="text" class="form-control" id="validationDefault01" name="title" placeholder="Tytuł książki" required>
            </div>
            <div class="col-md-6">
                <label for="validationDefault02" class="form-label">Autor</label>
                <input type="text" class="form-control" id="validationDefault02" name="author" placeholder="Autor książki" required>
            </div>
            <div class="col-md-5">
                <label for="validationDefault03" class="form-label">Data publikacji</label>
                <input type="text" class="form-control" id="validationDefault03" name="publishedDate" placeholder="format: YYYY-MM-DD" required>
            </div>
            <div class="col-md-5">
                <label for="validationDefault04" class="form-label">ISBN</label>
                <input type="text" class="form-control" id="validationDefault04" name="isbn" placeholder="Numer ISBN" required>
            </div>
            <div class="col-md-2">
                <label class="form-label">Liczba stron</label>
                <input type="number" class="form-control" name="pageCount" placeholder="Liczba stron">
            </div>
            <div class="col-md-10">
                <label class="form-label">Link do okładki</label>
                <input type="url" class="form-control" name="imageLink" placeholder="http://example.com/">
            </div>
            <div class="col-md-2">
                <label for="validationDefault05" class="form-label">Język publikacji</label>
                <input type="text" class="form-control" id="validationDefault05" name="language" placeholder="format: PL" required>
            </div>
            <div class="d-grid gap-2 col-4 mx-auto">
                <br>
                <button type="submit" class="btn btn-dark">dodaj</button>
            </div>
        </form>
    </div>

{% endblock %}
</body>
</html>