<!DOCTYPE html>
{% extends "layout.html" %}
<html lang="en">
<body>
{% block content %}

    <!-- Vertically Centered Text -->
    <section class="py-5">
        <div class="col-12 text-center">
            <br><br>
            <h1 class="fw-light">zaimportuj książkę z Google Books</h1>
            <p class="lead">skorzystaj z formularza poniżej</p>
        </div>
    </section>

    <!-- Form Add Books from API -->
    <div class="container">
        <form class="row g-3" method="post" action="/temp">
            <div class="col-md-6">
                <label class="form-label">Tytuł</label>
                <input type="text" class="form-control" name="intitle" placeholder="Tytuł książki">
            </div>
            <div class="col-md-6">
                <label class="form-label">Autor</label>
                <input type="text" class="form-control" name="inauthor" placeholder="Autor książki">
            </div>
            <div class="col-md-5">
                <label class="form-label">Data publikacji</label>
                <input type="text" class="form-control" name="publishedDate" placeholder="format: YYYY-MM-DD">
            </div>
            <div class="col-md-5">
                <label class="form-label">ISBN</label>
                <input type="text" class="form-control" name="isbn" placeholder="Numer ISBN">
            </div>
            <div class="col-md-2">
                <label class="form-label">Język publikacji</label>
                <input type="text" class="form-control" name="language" placeholder="format: PL">
            </div>
            <div class="d-grid gap-2 col-4 mx-auto">
                <br>
                <button type="submit" class="btn btn-dark">szukaj</button>
            </div>
        </form>
    </div>

{% endblock %}
</body>
</html>